* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #333;
}

#board {
  margin-top: 6vh;
  background-image: url("assets/flappybirdbg.png");
}

footer {
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  user-select: none;
}
